body {
    background: linear-gradient(to right, #2ebf91, #8360c3);
    text-align: center;
}

.container {
    margin-top: 4rem;
}

.form-control {
    text-align: center;
}

.botton {
    color: #fff;
    background-color: #8360c3;
    border: #8360c3;
}